{% extends 'base.html.twig' %}

{% block title %}Edit a comment | {{ parent() }}{% endblock %}

{% block body %}

    <h1>Edit your comment</h1>
    {{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <button class="btn btn-primary">Save</button>
    {{ form_end(commentForm) }}

{% endblock %}
