{% extends "base.html.twig" %}

{% block body %}
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, molestiae recusandae? Consequatur, ea earum esse facere iste itaque molestiae molestias nihil officia omnis quasi quia repellat rerum tempora tempore tenetur?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, molestiae recusandae? Consequatur, ea earum esse facere iste itaque molestiae molestias nihil officia omnis quasi quia repellat rerum tempora tempore tenetur?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, molestiae recusandae? Consequatur, ea earum esse facere iste itaque molestiae molestias nihil officia omnis quasi quia repellat rerum tempora tempore tenetur?</p>
{% endblock %}

{% block title %}
    Abouts us | {{ parent() }}
{% endblock %}


