{% extends 'base.html.twig' %}

{% block title %}
nom de l'idée | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Nom de l'idée</h1>

    {# todo: affiche tous les détails de l'idée #}
{% endblock %}

