{% extends 'base.html.twig' %}

{% block body %}
    <h1>What do you want to do?</h1>
    {% for wish in wishes %}
    <div>
    <a href="{{ path("wish_detail", {id: wish.id}) }}" title="See this wish in details">{{ wish.title }}</a>
    </div>
    {% endfor %}
{% endblock %}

{% block title %}
All wishes | {{ parent() }}
{% endblock %}

